.row  
  .col-md-6{:style => "margin-left: 15px"}
    %legend Sign In
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f|
      .form-group
        = f.label :email, :class => "col-sm-2 control-label"
        .col-sm-10
          = f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email", :type => "email"
      .form-group
        = f.label :password, :class => "col-sm-2 control-label"
        .col-sm-10
          = f.password_field :password, :class => "form-control", :placeholder => "Password", :type => "password"
      .form-group
        .col-sm-offset-2.col-sm-10
          %button.btn.btn-primary{:type => "submit"} Sign In
