.col-md-12.column
  .well
    = link_to "+ Add Product", new_product_path, :class => "btn btn-primary btn-sm"
  .row
    - @products.each do |product|
      .col-md-4
        .thumbnail
          %img{:alt => "300x200", :src => product.image_url}/
          .caption
            %h3
              = product.title
            %p
              = raw(product.description.truncate(200, :omission => "...#{link_to "show more", '#'}"))
            %p
              %h4 
                %span.label.label-primary= number_to_currency(product.price, :unit => "$")
                %span.label.label-info= "#{product.units} Avl Units"
                %a.btn.btn-primary.btn-xs{:href => "#"} Show
                = link_to "Delete", product_path(product), :confirm => "Are you sure?", :method=>:delete, :class => "btn btn-danger btn-xs"